*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif; 
}
/* Navbar */
.logo{
    width: 120px;
    height: auto;
   
}
.nav-link{
    font-weight: 500;
}
.nav-link{
    color: white;
}
.nav-link:hover {
    text-decoration: underline;
    color: #ff5733 ;
    animation-duration: 0.5s;
    text-underline-offset: 3px;
}
/* hero-area */
.hero-area{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./images/banner.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

 .hero-info{
    width: 100%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
} 
 .hero-btn {
    color: white;
    border: 1px solid white;
    font-size: 12px;
    background: transparent;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #fff;
    background-color: #8a0303;
    transition: 1s;
} 
.heading{
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 10px;
    margin-bottom: 20px;
}
.card {
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 8px;
}
.card img{
    width: 100%;
    height: 200px;
    border-radius: 20px;

}
.card-text{
    font-size: 14px;
}
.card .btn{
    background: #212529;
    color: white;
    font-size: 12px;
    padding: 8px 20px;
}
.card .btn:hover{
    background-color: #FF0000;
    transition: 1s ease-in-out;
    
}
/* about-section */
.about-area{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./images/background.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}
.about-content{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}
.about-img{
    width: 100%;
    height: 70vh;
    margin-bottom: 10px;
}
.about-text{
    font-size: 14px;
}
.profile-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
   
}
.profile-content{
    align-items: center;
    justify-items: center;
}
.profile-info{
    margin-top: 60px;
}
.profile-info h5{
    padding: 10px 0;
}
.profile-info p{
    margin-top: -15px;
}
/* contact-section */
.contact-section {
    color: #212529;
    margin-top: 20px;
    border-radius: 10px;
   
}
.contact-item {
    display: flex;
    align-items: center;
    gap: 15px; 
    margin: 15px 0;
}
.contact-heading {
    margin-bottom: 30px;
}
.icon-box {
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.icon-box i {
    font-size: 18px;
    color: #212529;
}
.contact-item p {
    margin: 0;
    font-size: 12px;
}
.contact-item strong {
    display: block;
}
.social-icon{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 16px;
}
.social-icon .bi{
  
  padding: 4px 6px;
   border-radius: 50%;
   
}
.social-icon .bi:hover{
     background-color: #212529;
     color: white;
     transition: 1s ease-in-out;
}
/* Faq-section */
.faq-section {
            max-width: 700px;
            margin: 50px auto;
            background: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        }
        .faq-item {
            border-bottom: 1px solid #ddd;
            padding: 10px 0;
        }
        .faq-header {
            font-weight: bold;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            font-size: 18px;
        }
        .faq-content {
            display: none;
            padding-top: 10px;
            color: #555;
        }
        .faq-icon {
            transition: transform 0.3s ease;
        }
        .rotate {
            transform: rotate(180deg);
        }
        /* footer */
        .footer {
            background-color: #212529;
            color: white;
            padding-top: 40px;
            margin-top: 30px;
        }
        .footer p,
        .footer a{
            font-size: 12px;
            color: white;
        }
        .signup-btn{
            font-size: 12px;
        }
        .footer input{
            width: 160px;
            font-size: 12px;
        }
        .footer h5 {
            font-weight: bold;
            margin-bottom: 15px;
        }
        .footer ul {
            list-style: none;
            padding: 0;
        }
        .footer ul li {
            margin-bottom: 8px;
        }
        .footer ul li a {
            text-decoration: none;
            transition: 0.3s;
        }
        .footer ul li a:hover {
            color: #000;
        }
        .footer .subscribe-box {
            display: flex;
            margin-top: 15px;
        }
        .footer .subscribe-box input {
           
            padding: 4px;
            border: 1px solid #ccc;
            border-radius: 5px 0 0 5px;
            outline: none;
        }
        .footer .subscribe-box button {
            background-color: #E81D6D;
            color: white;
            border: none;
            padding: 5px 5px;
            border-radius: 0 3px 3px 0;
            cursor: pointer;
        }
        .footer .subscribe-box button:hover {
            background-color: #C5145A;
        }
        .copy-right{
            padding-bottom: 10px;
            font-size: 14px;
        }